
body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parte1{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

#serv {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 60em;
    padding-top: 60px;
    background-color: rgb(90, 51, 0);
}

.QUIZ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40em;
    width: 50em;
}
#QUIZ{
    width: 49em;
    height: 40em;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2{
    background-image: url("Imagem_2.png");
    height: 40em;
    width: 48em;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1{
    background-image: url("Imagem_1.jpeg");
    height: 40em;
    width: 48em;
    background-size: cover;
    background-repeat: no-repeat;
}

#serv div:nth-child(1){
    margin: 0px 5px;
}