*{margin: 0;
padding: 0;}
tr{background-color:grey;}
table, th{border: 0px solid white;}
table{width: 80%;
border-collapse: collapse;}
table, th{text-align: center;}
table, th{font-size: large;
font-family:cursive;}
th{color: white}
th:hover{background-color: skyblue;
color: grey;}

#t2{margin-top: 20px;}
.th2{border: 3px solid;
width: 100%;
display: block;
background-color: white;
border: none;
.
}
.th2:hover{background-color: white;
text-decoration-line:underline;
text-decoration-color: red;
}
